.community_container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.community_content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding-left: 60px;
}

.community_content h2 {
  font-size: 24px;
  line-height: 1.6;
}

.community_content p {
  font-size: 16px;
  line-height: 1.6;
}

button {
  width: fit-content;
  background-color: rgba(56, 140, 191, 1);
  color: rgba(246, 246, 246, 1);
  border: none;
  border-radius: 2px;
  font-weight: bolder;
  padding: 5px 30px;
}
